<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Cafe</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="caracterisiticas">

    <ion-item>
      <ion-label>
        <h1>{{parte.nomtipc}}</h1>
      </ion-label>
    </ion-item>

    <!-- Images -->
    <ion-slides pager="true">
      <ion-slide class="image-slide" style="background-image: url('../../../assets/img/motor.jpeg')">
      </ion-slide>
    </ion-slides>

    <ion-item>
      <ion-label>
        <h2>Caracteristicas</h2>
      </ion-label>
    </ion-item>
   
    <!-- Caracteristicas -->
    <ion-list>
      <ion-item *ngFor="let caracteristica of caracteristicas">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        <ion-label>{{caracteristica.nombre}}</ion-label>
        <ion-label>{{caracteristica.valor}}</ion-label>
      </ion-item>
    </ion-list>

    <!-- Alertas -->
    <ion-item>
      <ion-label>
        <h2>Alertas</h2>
      </ion-label>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let alerta of alertas">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        <ion-label>{{alerta.aviso}}</ion-label>
      </ion-item>
    </ion-list>


    

  </div>




</ion-content>