<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Cafe</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>
    <h2>Caracteristicas</h2>
  </ion-label>

  <!-- Images -->
  <ion-slides pager="true">
    <ion-slide class="image-slide" style="background-image: url('../../../assets/img/motor.jpeg')">
    </ion-slide>
  </ion-slides>

  
  <!-- List of Caracteristicas -->
  <ion-list>
    <ion-item *ngFor="let caracteristica of caracteristicas">
      <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      <ion-label>{{caracteristica.nombre}}</ion-label>
      <ion-label>{{caracteristica.valor}}</ion-label>

    </ion-item>
  </ion-list>

</ion-content>