<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Cafe</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-parte-activo></app-parte-activo>


  <ion-content>

    <div class="asset">
      <ion-item>
        <ion-label>
          <h2>Motor</h2>
        </ion-label>
      </ion-item>
  
      <!-- Images -->
      <ion-slides pager="true">
        <ion-slide class="image-slide" style="background-image: url('/assets/avatars/av-3.png')">
        </ion-slide>
        <ion-slide class="image-slide" style="background-image: url('/assets/avatars/av-3.png')">
        </ion-slide>
      </ion-slides>
  
      
      <!-- Part List -->
      <ion-list>
        <ion-list-header lines="inset">
          <ion-label>Caracteristicas</ion-label>
        </ion-list-header>
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-label>codigo</ion-label>
            <ion-label>indice</ion-label>
            <ion-label>motor</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="getPartDetail(item)">Unread</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-label>codigo</ion-label>
            <ion-label>indice</ion-label>
            <ion-label>motor</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="getPartDetail(item)">Unread</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  
  
      </ion-list>
  
      <!-- Observations -->
      <ion-item lines="none">
        <ion-label text-wrap>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam debitis eum, autem itaque sit eligendi rem,
          maxime minima natus nisi officia reiciendis officiis iure aliquid odit? Tenetur dolore quibusdam ut?
  
        </ion-label>
      </ion-item>
  
  
  
    </div>
  
  </ion-content>

</ion-content>
