<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Cafe</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="asset">
    <ion-item>
      <ion-label>
        <h2>{{activo.datact.nomact}}</h2>
      </ion-label>
    </ion-item>

    <!-- Images -->
    <ion-slides pager="true">
      <ion-slide class="image-slide" style="background-image: url('{{activo.datact.idimgp}}')">
      </ion-slide>
      <ion-slide class="image-slide" style="background-image: url('{{activo.datact.idimgd}}')">
      </ion-slide>

    </ion-slides>

    <!-- Map -->
    <ion-item>
      <ion-label>Ubicacion</ion-label>
    </ion-item>

    <ion-item>
      <div id='map'>
        aqui debe estar el mapa
      </div>
    </ion-item>

    <!-- <app-mapa [activo]="activo"></app-mapa> -->

    
    <!-- Part List -->
    <app-partes-activo [idActivo]="idActivo" [partesActivo]="partesActivo"></app-partes-activo>
    <!-- <app-partes-activo [activo]="activo"></app-partes-activo> -->

  </div>
</ion-content>